[Desktop Entry]
Version=1.0
Type=Application
Name=Monocoque
Comment=Launch Monocoque
Exec=/usr/bin/gmonocoque
Icon=monocoque
Terminal=false
Categories=Game;Development;
